<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="empBean" name="empBean" class="com.dds.beans.EmpBean" >
		<property name="name">
			<value>Tom</value>	
		</property>
		<property name="age">
			<value>23</value>
		</property>
	</bean>
</beans>