<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TestJMSProj1/src/com/dds/rnd/MessagePublisher.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.dds.rnd.MessagePublisher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TestJMSProj1"/>
</launchConfiguration>
